---
const {items = {}, style=''} = Astro.props;
const smols = ['dotnet','mysql']
// class={` ${smols.includes(item.file)?'w-10':'w-8'}  mr-2`}
---
<ul class={style}>
  {items.map((item: {title:string, file:string}) => (
    <li class="flex items-center">
      <img src={`/icons/${item.file}.svg`} class={`w-[48px]  mr-2`} alt="">
      {item.title}
    </li>
  ))}
</ul>